.container-body{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
/*TASK CREATOR*/
.container-Taskcreator{
  min-height: 50px;
  padding: 20px 0;
  text-align: center;
}
.container-Taskcreator span{
  font-size: 20px;
  font-weight: bold;
}
.container-Taskcreator form{
  padding: 15px;
  background-color: var(--card-color);
  border-radius: 5px;
}
.Taskcreator-input{
  border: none;
  text-decoration: underline;
  text-decoration: var(--underline-color);
  background-color: inherit;
  color: var(--text-card-color);
}
.Taskcreator-input:focus-visible{
  background: inherit;
  outline: none;
}
.Taskcreator-input::placeholder{
  color: var(--text-card-color);
}
.container-Taskcreator button{
  background-color: var(--button-save-color);
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  margin: 0 5px;
}
/*Tareas*/
.container-tarea{
  padding: 15px;
  background-color: var(--card-color);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/*Visibility Control*/
.container-visibilityControl button{
  background-color: var(--button-danger-color);
  cursor: pointer;
  padding: 2px;
  border-radius: 5px;
  margin: 0 5px;
}
.container-visibilityControl .boton-eliminar{
  width: 20px;
  height: 20px;
  margin: 0 2px;
  background-color: inherit;
}